html, 
body {
	background-color: #fff;
}

body {
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #333;
}

h1 {
	font-size: 36px;
	line-height: 38px;
	margin-bottom: 20px;
}

h2 {
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 10px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 16px;
}

p {
	margin-bottom: 20px;
}

article {
	position: relative;
	margin: 0 auto;
	width: 800px;
	min-height: 102px;
	margin-bottom: 20px;
	overflow: hidden;
}

article .description {
	float: right;
	width: 380px;
	text-align: left;
}

article .description code,
article .description pre {
	display: block;
	font-family: Monaco, monospace;
	font-size: 12px;
	margin-bottom: 10px;
}

article .field {
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 100px;
	border: 1px solid #aaa;
	background-color: #eee;
	overflow: hidden;
}

article .field .ghost {
	position: absolute;
	left: 175px;
	top: 25px;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
}

article .field .box {
	position: absolute;
	left: 175px;
	top: 25px;
	width: 50px;
	height: 50px;
	background-color: #53829a;
}



